$main-color: #0A76BF;
$primary: #0099FF;
$secondary: #F5C142;
$headings: #324256;
$text: #000;
$main-blue: $main-color;
$font-primary: "Inter", sans-serif;
$font-default: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";